<h1>Connecting People Skills</h1>
<h3>
  “Il se faut s'entraider, c'est la loi de la nature.”
</h3>
<p>Jean de La Fontaine / L'âne et le chien</p>


<p>
  Si vous vous posez souvent la question suivante : "Mais comment vais-je faire?", ou encore
  "comment m'y prendre?", alors bienvenue sur <strong><em>Connect People Skills</em></strong>
</p>

<p>
  Cette application vous permettra de solutionner differentes problematiques.
  Voyez les differents <a href="#">temoignages</a>
</p>

<%= link_to "comment ca marche", "#"  %> <br>
<%= link_to "JE cherche une solution", "#"  %><br>
<%= link_to "moi aussi j'ai des skills à presenter", "#" %>
